#root {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #344dc4;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

input {
  text-align: center !important;
}

a {
  text-decoration: none!important;
}

#modal {
  width: 767px
}

#alert-dialog-title h2 {
  color: #f50057
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1024px;
}

.row {
  margin-top: 20px;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 10px 0px #a19e9e;
  font-size: 26px;
  margin-bottom: 15px;
}

.hide {
  display: none !important;
}

.tabs {
  background-color: #fff;
  width: inherit;
  margin-top: 18px;
}

.tabs .header {
  background-color: #1fbcd3;
  box-shadow: none
}

.tabs .tab {
 min-width: 50%
}

.charts .row {
  display: flex;
  justify-content: flex-end;
}